<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Miniatures
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Miniatures</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="figures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Figures
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="figures-link">
                <a href="" class="dropdown-item">Characters</a>
                <a href="" class="dropdown-item">Minions</a>
                <a href="" class="dropdown-item">Bosses</a>
                <a href="" class="dropdown-item">All Figures</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="terrain-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Terrain &amp; Maps
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="terrain-link">
                <a href="" class="dropdown-item">Dungeon</a>
                <a href="" class="dropdown-item">Cavern</a>
                <a href="" class="dropdown-item">Towns &amp; Cities</a>
                <a href="" class="dropdown-item">All Terrain &amp; Maps</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="furniture-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Furniture &amp; Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="furniture-link">
                <a href="" class="dropdown-item">Furniture</a>
                <a href="" class="dropdown-item">Items</a>
                <a href="" class="dropdown-item">All Furniture &amp; Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>